<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
   <key>CFBundleIconFile</key>
   <string>@ICON@</string>
	<key>CFBundleIdentifier</key>
	<string>net.microcontrol.CANpieServer</string>
	<key>CFBundleDisplayName</key>
	<string>CANpie Server</string>
	<key>CFBundleName</key>
	<string>CANpieServer</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2017, MicroControl GmbH &amp; Co. KG</string>
	<key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@SHORT_VERSION@</string>
</dict>
</plist>
