<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>CANpieServer</string>
	<key>CFBundleIdentifier</key>
	<string>net.microcontrol.CANpieServer</string>
	<key>CFBundleName</key>
	<string>CANpie Server</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2018, MicroControl GmbH &amp; Co. KG, All rights reserved.</string>
	<key>CFBundleShortVersionString</key>
	<string>0.84</string>
	<key>CFBundleIconFile</key>
	<string>canpie_server.icns</string>
</dict>
</plist>
